<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAIS"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
<!--        <activity-->
<!--            android:name=".MainHistoryNewActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_main_history_new"-->
<!--            android:theme="@style/Theme.AbsensiPancang.NoActionBar">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".HistoryNewActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_history_new"-->
<!--            android:theme="@style/Theme.AbsensiPancang.NoActionBar">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->
        <activity android:name=".Activity.MainHistoryNewActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.ChooseAnggotaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CekAbsensiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AbsensiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AnggotaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>